@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');
@font-face {
	font-family: 'Zilla Slab';
	src: url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap')
}
@font-face {
	font-family: 'Profont';
	src: url('ProFontWindows.ttf')  format('truetype');
}